<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="downloadResume">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
  <div class="my-auto" id="experience-content">
    <h2 class="mb-5" id="downloadResume-title">Genera CV aggiornato</h2>
    <div class="d-flex align-items-center gap-2 mb-3">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="languageDropdown" data-bs-toggle="dropdown"
          aria-expanded="false">
          Lingua
        </button>
        <ul class="dropdown-menu" id="languageDropdown-menu" aria-labelledby="languageDropdown"></ul>
      </div>
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="previewDropdown" data-bs-toggle="dropdown"
          aria-expanded="false">
          Stile
        </button>
        <ul class="dropdown-menu" id="previewDropdown-menu" aria-labelledby="previewDropdown"></ul>
      </div>
      <button id="generate-pdf" class="btn btn-success">Genera PDF dalla preview</button>
    </div>
  </div>
  <div id="cv-preview"></div>
  <script src="/js/pdf-generator.js"></script>
</section>
